@using YummyRestaurant.Application.DTOs.AboutDTOs
@model ResultAboutDto

<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımızda<br></h2>
        <p><span>Daha Fazla</span> <span class="description-title">Bilgi Edinin</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="@Model.ImageUrl" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Rezervasyon Yap</h3>
                    <p>+90 555 123 45 67</p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                <p><span>@Model.Title</span></p>
                    <p class="fst-italic">
                        @Model.Description
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>@Model.Highlight1</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>@Model.Highlight2</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>@Model.Highlight3</span></li>
                    </ul>
                    <p>
                        @Model.Description2
                    </p>

                    <div class="position-relative mt-4">
                        <img src="@Model.ImageUrl2" class="img-fluid" alt="">
                        <a href="@Model.VideoUrl" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
